<h1>SmartHire</h1>
<!-- <input type="text">Job title/keywords <% @user_seach %></p> -->
<div class="container">
  <div class="row">
    <!-- <div class="col"> -->
      <%= form_tag main_path do %>
      <!-- Location -->
      <%= text_field_tag :location %> <br>
    <!-- </div> -->
    <!-- <div class="col"> -->
      <!-- Job Title -->
      <%= text_field_tag :job_search %> <br>
    <!-- </div> -->
    <!-- <div class="col"> -->
      <%= submit_tag "search"%>
      <% end %>
    <!-- </div> -->
  </div>
</div>



<% if @jobs.present? %>
<% i = 0 %>
<% @jobs.each do |link| %>
<ol class="jobs">
  <li><%= @a[i] %></li>
  <li><%= @b[i] %></li>
  <li><%= @c[i] %></li>
  <li><%= @d[i] %></li>
  <li><%= @e[i] %></li>
</ol>

<% i += 1 %>
<% end %>
<% end %>
