<div class="freeze_panel">


  <!-- <i class="fas fa-graduation-cap"></i> -->
  <h1 class="title">SmartHire</h1>
  <!-- <input type="text">Job title/keywords <% @user_seach %></p> -->
  <div class="container">
    <div class="row">
        <%= form_tag main_path do %>
        <!-- Location -->
      <p class="location_search"><%= text_field_tag :location, nil, placeholder: "Location" %> <br></p>
        <!-- Job Title -->
      <p class="job_search"><%= text_field_tag :job_search, nil, placeholder: "Job title/Keyword" %> <br></p>
      <p class="search_button">  <%= submit_tag "search"%></p>
        <% end %>
      <!-- </div> -->
    </div>

  </div>
  <div class="user_buttons">
    <!-- <div class="sign_up"> -->
      <button type="button" class="btn btn-link"><%= link_to "Sign Up", new_user_registration_path %></button>
    <!-- </div> -->
    <!-- <div class="log_in"> -->
      <button type="button" class="btn btn-link"><%= link_to "Log In", new_user_session_path %></button>
    <!-- </div> -->
  </div>

</div>

<div class="results">

  <% if @jobs.present? %>
  <% i = 0 %>
  <% @jobs.each do |link| %>
  <ul class="jobs">
    <a class="delete">Delete</a>
    <li class="job_title"><%= @job_title[i] %></li>
    <li><b>Description</b><br><%= @job_summary[i] %></li>
    <li><b>Company</b><br><%= @company_name[i] %></li>
    <li class="linkedin"><%= link_to 'LinkedIn Page', @linkedin_link[i], target: :_blank %></li>
    <li class="glassdoor"><%= link_to 'Glassdoor Page', @glassdoor_link[i], target: :_blank %></li>
  </ul>

 <% i += 1 %>
 <% end %>
 <% end %>
</div>
